<div class="template-base">
  <header class="br-header mb-4" id="header" data-sticky="data-sticky">
    <app-header [menuVisible]="isMenuVisible" (menuToggled)="toggleMenu()">
    </app-header>
  </header>

  <section class="d-flex flex-fill mb-5" id="main">
    <div class="layout-wrapper">
      <aside class="sidebar" [class.collapsed]="!isMenuVisible">
        <div class="br-menu">
          <app-menu></app-menu>
        </div>
      </aside>

      <main class="main-section">
        <br-breadcrumb [crumbs]="breadcrumbItems" homeUrl="/app"></br-breadcrumb>
        <div class="main-content mt-4" id="main-content">
          <router-outlet></router-outlet>
        </div>
      </main>
    </div>
  </section>

  <app-footer></app-footer>
</div>
