<div class="template-base">
  <header class="br-header mb-4" id="header" data-sticky="data-sticky">
    <app-header [menuVisible]="isMenuVisible" (menuToggled)="toggleMenu()">
    </app-header>
  </header>

  <section class="d-flex flex-fill mb-5" id="main">
    <div class="container-fluid d-flex">
      <div class="row">
        <aside class="br-menu push active" id="main-navigation"
               [style.display]="isMenuVisible ? 'block' : 'none'" style="width: 250px">
          <app-menu></app-menu>
        </aside>

        <section class="col mb-5">
          <br-breadcrumb [crumbs]="breadcrumbItems" homeUrl="/app"></br-breadcrumb>
          <div class="main-content pl-sm-3 mt-4" id="main-content">
            <router-outlet></router-outlet>
          </div>
        </section>
      </div>
    </div>
  </section>

  <app-footer></app-footer>
</div>
