<div class="menu-body" role="tree">
  <ng-container *ngFor="let folder of menuItems">
    <div class="menu-folder drop-menu" [class.active]="folder.expanded">
      <a *ngIf="!folder.children?.length" [routerLink]="folder.url" class="menu-item"
         role="treeitem" tabindex="0" [class.active]="itemAtivo === folder.id"
         [attr.aria-current]="itemAtivo === folder.id ? 'true' : null">
        <span class="icon"><i [class]="folder.icon" aria-hidden="true"></i></span>
        <span class="content">{{ folder.name }}</span>
      </a>
    </div>
  </ng-container>
</div>
