.menu-item.active {
  font-weight: bold;
  background-color: #e7f1ff;
}

.menu-folder.active {
  background-color: rgba(19, 81, 180, 0.05);
}

.menu-folder.has-children > .menu-item {
  position: relative;
}

.menu-folder.has-children > .menu-item::after {
  content: "";
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  border: solid #1351b4;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transition: transform 0.3s ease;
}

.menu-folder.active.has-children > .menu-item::after {
  transform: translateY(-50%) rotate(45deg);
}

.menu-folder.active > .menu-item {
  font-weight: bold;
}
