<section>
  <div class="frameworkLogo">
    <img
      width="120"
      src="assets/angular.svg"
      alt="Angular Logo PNG Vector"
      title="Angular Logo PNG Vector"
      class="detailLogoImage"
    />
  </div>

  <p>
    Este projeto é um quickstart que tem como principal objetivo demonstrar a
    integração e o uso da biblioteca de Web Components do GovBR-DS em uma
    aplicação Angular. Os exemplos de código aqui presentes são focados em fins
    didáticos, buscando ilustrar de forma clara e simples como utilizar os
    componentes.
  </p>
  <p>
    É importante ressaltar que, por ser um projeto de demonstração, o código
    pode não abranger todas as melhores práticas de segurança, qualidade,
    escalabilidade e tratamento de erros necessárias para um ambiente de
    produção. Caso deseje utilizar este quickstart como base para um projeto
    real, é fundamental que você revise, adapte e aprimore o código para atender
    aos requisitos específicos da sua aplicação, garantindo que todos os
    aspectos de um software robusto sejam considerados.
  </p>
  <p>
    Podem existir pequenas diferenças de comportamento ou implementação entre os
    diversos quickstarts disponíveis para outras tecnologias (como React, Vue,
    etc.). Essas variações geralmente decorrem da lógica de aplicação específica
    de cada framework ou biblioteca, e não de inconsistências nos Web Components
    do GovBR-DS, que se comportam de maneira padronizada.
  </p>
</section>
